<div class="revision-info">
  <span class="label label-info">Version created at <%= @revision.created_at %> by <%= @revision.post.user.email %></span>
</div>
<br />
<div class="revision">
  <%= simple_format @revision.content %>
</div>
