<div class="revision-info">
  <span class="label label-info">Version created at <%= @revision.created_at %> by <%= @revision.post.user.email %></span>
</div>
<br />
<div class="revision">
  <%= simple_format @revision.content %>
</div>

<div class="diff">
  <h4>Diff between this revision and current version</h4>
  <%= raw @diff.to_s(:html) %>
</div>
