.header {
  width: 900px;
  height: 50px;
  margin: auto;
}

.site-title {
  width: 200px;
  float: left;
}

.user-menu {
  width: 300px;
  float: right;
  margin: 10px;
}

.main-content {
  width: 900px;
  margin: auto;
  margin-top: 50px;
}

.edit_post textarea, input {
  width: 600px;
}

.new_post textarea, input {
  width: 600px;
}


